@import "bootstrap/dist/css/bootstrap.min.css";

:root {
  --red: #ea5d59;
  --light-blue: #5cb8e6;
  --dark-blue: #0f6782;
  --purple: #88a0e6;
  --bg-primary: #1683b3;
  --bg-primary-hover: #0a6b95;
  --text-color-gray: #686868;
}
body {
  background-color: #f7f7f9;
}

.App {
  text-align: center;
  background-color: #f7f7f9;
  margin-top: 20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn-primary {
  background-color: var(--bg-primary);
  font-weight: 600;
}
.btn-primary:hover,
.btn-primary:active {
  background-color: var(--bg-primary-hover) !important;
}

@media (max-width: 768px) {
  .btn-primary {
    width: 100%;
  }
  .container {
    padding: 0;
  }

  .card {
    border-radius: 0;
  }
}
